.container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    flex-direction: column;
}
table{
    margin-top: 5vh;



}
table td{
    border: 10px solid red;
    height: 100px;
    width: 100px;
    font-weight: 900;
    font-size: 2.5rem;
}
@media screen and (max-width:600px){
    table td{
        height: 80px;
        width: 80px;
    }

    .container{
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center;
    }
    
}
td{
    cursor: pointer;
}

button{
    height: 40px;
    width: 300px;
    font-size: larger;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background-color: black;
    color: aliceblue;
    border: 2px solid red;
    font-weight: 800;
}
.heading{
    border: 1px solid gray;
    padding: 15px;
    background-color: black;
    color: #FF3D00;
    border-radius: 10px;
    width: 200px;
}